*{box-sizing: border-box;}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh; 

}

a{
    cursor: pointer;
    text-decoration: none;
}
.header{
        justify-content: space-between;
   height: 380px;
   padding: 20px;
   position: relative;
   background-image: url('../assets/backgr1.avif');
background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
 
} 
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-menu {
    display: flex;
    gap: 20px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
}
.right-menu{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.menu-item{
color: white;
font-weight: bold;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.brand span{
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.login{
    border: 1px solid white;
    padding:5px 20px;
    border-radius: 30px;

}

.best-seller{
    border: 1px solid white;
    background-color: rgb(55, 117, 111);
    padding: 5px 20px;
    border-radius: 30px
}

.info{
    margin-top:110px;
    /* position: absolute; */
       display: flex;
       justify-content: space-between;
       align-items: center;
   /* color:rgb(55, 117, 111); */
}

.info-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatar-btn{
    display: flex;
    gap: 20px;
}
.info-desc{
    color: white;
        font-size: 54px;
        font-weight: bold;
        text-transform: capitalize;
        width: 400px;
}
.join-btn{
    background-color: white;
    border-radius: 50px;
    padding: 5px  15px;
    border: none;
    box-shadow: 0 4px 8px 1px;
}
#avatars{
    display: block;
}
#avatars img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    
}

#avatars img:not(:first-child) {
    margin-left:-13px;
   
}
 .info-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
 }
 .spacer{
    flex: 0 1 1;
 }
 .info-right span:first-child{
    background-color: rgba(60, 103, 120, 0.616);
    width: fit-content;
    padding: 5px 2px;
    border-radius: 30px;
    color: rgb(244, 237, 237);
 }
 .info-right span:not(:first-child){
    color: white;
    padding-right:  20px;
 }

 .content {
    background-color: lightblue;
    background-size: cover;
    height: 120vh;
    padding: 50px;

}

.fcontent {
    display: flex;
    /* gap: 10px; */
    margin-top: 1px;
}

.fcontspan {
    width: fit-content;
    padding: 5px 2px;
    border-radius: 30px;
    border: solid rgb(31, 30, 30);
    color: rgb(24, 24, 24);
    margin-left: 20px;
    background-color: rgb(110, 108, 108);
}

.line {
    width: 300px;
    border-bottom: solid black;

}

.line2 {
    width: 700px;
    border-bottom: solid white;

}

.ncontent {
    margin-top: 90px;
}

.span {
    width: fit-content;
    padding: 5px 2px;
    border-radius: 30px;
    border: solid rgb(31, 30, 30);
    color: rgb(24, 24, 24);
    margin-left: 20px;
    background-color: rgb(97, 95, 95);
}

.content3 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-1 {
    color: black;
    font-size: 64px;
    font-weight: bold;
    text-transform: capitalize;
    width: 600px;
}

.info-2{
    text-transform: capitalize;
}

.content4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
}
